<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Informe de Batalles</title>
</head>
<body>
    <h1>Informe de Batalla <%= numbatalla //nombre sujeto a cambios %></h1>
    <p>numero de ataques: <%= numataques //nombre sujeto a cambios%> </p>
    <p>numero de unidades perdidas: <%= numunidadesperdidas //nombre sujeto a cambios%></p>
    <p>numero de madera perdida: <%= nummadereaperdida //nombre sujeto a cambios%></p>
    <p>numero de comida perdida: <%= numcomidaperdida //nombre sujeto a cambios%></p>
    <p>numero de hierro perdido: <%= numhierroperdido //nombre sujeto a cambios%></p>
    <p>ganador: <%= ganador //nombre sujeto a cambios%></p>
</body>
</html>